<!DOCTYPE html>
<html>

<head>
	<title>Sender</title>
	<link rel="stylesheet" href="index.cf8b7253.css">
	<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1" defer=""></script>
	<script src="sender.294f029d.js" type="module"></script>
</head>

<body>

	<header>
		<nav>
			<a href="#about.html">About</a>
			<a href="#contact.html">Contact</a>
		</nav>
	</header>

	<main>

		<h1>Sender</h1>

		<section id="one">
			<h2>ChromeCast Direct</h2>
			<form id="f" name="f">
				<label for="text">text</label>
				<input type="text" name="text" id="text">
				<button name="send-text" id="send-text" type="button">send text</button>
			</form>
		</section>

		<section id="two">
			<h2>WebRTC</h2>
			<table class="control">
				<tr>
					<td class="title">Status:</td>
					<td class="title">Messages:</td>
				</tr>
				<tr>
					<td>
						<span style="font-weight:700">ID: </span>
						<input type="text" id="receiver-id" title="Input the ID from receive.html">
						<button id="connect-button">Connect</button>
					</td>
					<td>
						<input type="text" id="sendMessageBox" placeholder="Enter a message..." autofocus="true">
						<button type="button" id="sendButton">Send</button>
						<button type="button" id="clearMsgsButton">Clear Msgs (Local)</button>
					</td>
				</tr>
				<tr>
					<td>
						<div id="status" class="status"></div>
					</td>
					<td>
						<div class="message" id="message"></div>
					</td>
				</tr>
				<tr>
					<td>
						<button type="button" class="control-button" id="resetButton">Reset</button>
					</td>
					<td>
						<button type="button" class="control-button" id="goButton">Go</button>
					</td>
				</tr>
				<tr>
					<td>
						<button type="button" class="control-button" id="fadeButton">Fade</button>
					</td>
					<td>
						<button type="button" class="control-button" id="offButton">Off</button>
					</td>
				</tr>
			</table>
		</section>

		<section id="three">
			<form id="g" name="g">
				<textarea name="code" cols="64" rows="16" id="code"></textarea>
				<button type="submit">run code</button>
			</form>
		</section>

		<section id="four">
			<form id="rpc" name="rpc">
				<button id="playpause" name="playpause">play/pause</button>
				<button id="mute" name="mute">mute/unmute</button>
			</form>
		</section>

		<section id="five">
			<google-cast-launcher></google-cast-launcher>
		</section>

	</main>

	<footer>
		<dl>
			<dt>Git ref</dt>
			<dd>{{{{ GIT_REF }}}}</dd>
			<dt>Git tag</dt>
			<dd>{{{{ GIT_TAG }}}}</dd>
			<dt>Latest git message</dt>
			<dd>{{{{ GIT_LATEST_MESSAGE }}}}</dd>
		</dl>
		<p class="legal">&copy; 2022. All rights kerfuffle</p>
	</footer>

</body>

</html>