body {
	font-family: sans-serif;
	margin: auto;
	max-width: 1280px;
	background-color: blanchedalmond;
}
  
nav {
	background-color: #313236;
	border-radius: 2px;
	max-width: 800px;
}
  
nav a {
	color: #aaa;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	text-decoration: none;
}
  
nav a:hover {
	color: #ffffff;
}

.error {
	color: red;
}